// STARTER VARIABLES AND MIXINS


// COLOR PALETTE

$base: #000;
$base1: lighten($base, 10%);
$base2: lighten($base, 20%);
$base3: lighten($base, 30%);
$base4: lighten($base, 40%);
$base5: lighten($base, 50%);
$base6: lighten($base, 60%);
$base7: lighten($base, 70%);
$base8: lighten($base, 80%);
$base9: lighten($base, 90%);
$base0: lighten($base, 100%);

$light:     #FFF;
$beige:     #F6F3EF;
$plum:      #230C0C;
$navy:      #10141A;
$slate:     #1F2733;
$blue:      #45B8E5;


// COLOR VARIABLES

$bg:        $beige;
$bg-bold:   $plum;

$anchor:        $blue;
$anchor-alt:    $navy;

$loud:      red;
$loud-dark: red;



// LAYERS

$layer1: 1; // content
$layer2: 2; // hovers
$layer3: 3; // cloak
$layer4: 4; // lightbox
$layer5: 5; // lightbox content


// SPACING

$padding: 30px;


// GRID (BOURBON NEAT) //

$grid-columns: 12;


// RWD BREAKPOINTS 

@mixin breakpoint($point) {
	@if $point == small {
		@media (min-width: 321px)  { @content; }
	}
	@if $point == medium {
		@media (min-width: 768px) { @content; }
	}
	@if $point == large {
 		@media (min-width: 1024px) { @content; }
	}
}


// Don't forget your Retina CSS! //

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  

}



// MIXINS -- check Bourbon before adding new ones


// cross-browser inline-block -- bit.ly/KuaPpr 
%inline-block {
	display: -moz-inline-stack; 
	display: inline-block;
	zoom: 1;
	*display: inline;		
}	

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



// STATES

.is-hidden {
	display: none;
}

.fullwidth { 
	width: 100%; 
}



// STANDARD ELEMENTS

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


	
hr {
	border: 0;
	height: 1px;
	background: $base8;
	margin:2rem 0 4rem 0;
}


img, video, object { 
  max-width: 100% 
}
